In [65]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, accuracy_score, auc, r2_score
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [5]:
df = pd.read_csv("https://raw.githubusercontent.com/rasyidev/well-known-datasets/main/bank_churn.csv")
df.head(2)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0

In [27]:
df.Geography.value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [25]:
G = df[['Geography']]
ohe = OneHotEncoder()
geography = ohe.fit_transform(G).toarray()

In [29]:
pd.DataFrame(geography, columns=['france', 'germany', 'spain'])

      france  germany  spain
0        1.0      0.0    0.0
1        0.0      0.0    1.0
2        1.0      0.0    0.0
3        1.0      0.0    0.0
4        0.0      0.0    1.0
...      ...      ...    ...
9995     1.0      0.0    0.0
9996     1.0      0.0    0.0
9997     1.0      0.0    0.0
9998     0.0      1.0    0.0
9999     1.0      0.0    0.0

[10000 rows x 3 columns]

In [23]:
len(df)

10000

In [3]:
df[['CreditScore', 'Age', 'Balance', 'EstimatedSalary']] # ini yang akan disimpan ke X

      CreditScore  Age    Balance  EstimatedSalary
0             619   42       0.00        101348.88
1             608   41   83807.86        112542.58
2             502   42  159660.80        113931.57
3             699   39       0.00         93826.63
4             850   43  125510.82         79084.10
...           ...  ...        ...              ...
9995          771   39       0.00         96270.64
9996          516   35   57369.61        101699.77
9997          709   36       0.00         42085.58
9998          772   42   75075.31         92888.52
9999          792   28  130142.79         38190.78

[10000 rows x 4 columns]

In [6]:
df['Exited']

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [7]:
X = df[['CreditScore', 'Age', 'Balance', 'EstimatedSalary']]
y = df.Exited

## Scaling

In [10]:
ss = StandardScaler()
ss.fit_transform(X)

array([[-0.32622142,  0.29351742, -1.22584767,  0.02188649],
       [-0.44003595,  0.19816383,  0.11735002,  0.21653375],
       [-1.53679418,  0.29351742,  1.33305335,  0.2406869 ],
       ...,
       [ 0.60498839, -0.27860412, -1.22584767, -1.00864308],
       [ 1.25683526,  0.29351742, -0.02260751, -0.12523071],
       [ 1.46377078, -1.04143285,  0.85996499, -1.07636976]])

In [11]:
X = ss.fit_transform(X)

In [12]:
X

array([[-0.32622142,  0.29351742, -1.22584767,  0.02188649],
       [-0.44003595,  0.19816383,  0.11735002,  0.21653375],
       [-1.53679418,  0.29351742,  1.33305335,  0.2406869 ],
       ...,
       [ 0.60498839, -0.27860412, -1.22584767, -1.00864308],
       [ 1.25683526,  0.29351742, -0.02260751, -0.12523071],
       [ 1.46377078, -1.04143285,  0.85996499, -1.07636976]])

## Cross Validation

In [30]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

## Train

In [31]:
knn = KNeighborsClassifier(n_neighbors=3)

In [32]:
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=3)

In [33]:
y_pred = knn.predict(X_test)

In [34]:
accuracy_score(y_test, y_pred)

0.759

In [36]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.82      0.89      0.85      1567
           1       0.42      0.28      0.34       433

    accuracy                           0.76      2000
   macro avg       0.62      0.59      0.60      2000
weighted avg       0.73      0.76      0.74      2000

In [45]:
k_max = int(np.floor(np.sqrt((len(df)/2))))
k_max

70

In [46]:
semua_k = range(1,k_max, 2)

In [49]:
for k in semua_k:
    knn = KNeighborsClassifier(n_neighbors=k)
    # Training dengan k tertentu sesuai iterasi
    knn.fit(X_train, y_train)
    y_pred = knn.predict(X_test)
    print(f"Accuracy dengan k={k}: {accuracy_score(y_test, y_pred) * 100}%")

Accuracy dengan k=1: 72.75%
Accuracy dengan k=3: 75.9%
Accuracy dengan k=5: 76.75%
Accuracy dengan k=7: 77.8%
Accuracy dengan k=9: 78.8%
Accuracy dengan k=11: 79.14999999999999%
Accuracy dengan k=13: 80.05%
Accuracy dengan k=15: 79.65%
Accuracy dengan k=17: 79.95%
Accuracy dengan k=19: 80.2%
Accuracy dengan k=21: 80.05%
Accuracy dengan k=23: 80.15%
Accuracy dengan k=25: 79.85%
Accuracy dengan k=27: 79.60000000000001%
Accuracy dengan k=29: 79.65%
Accuracy dengan k=31: 79.80000000000001%
Accuracy dengan k=33: 79.85%
Accuracy dengan k=35: 79.75%
Accuracy dengan k=37: 79.75%
Accuracy dengan k=39: 79.65%
Accuracy dengan k=41: 79.60000000000001%
Accuracy dengan k=43: 79.80000000000001%
Accuracy dengan k=45: 79.95%
Accuracy dengan k=47: 79.85%
Accuracy dengan k=49: 79.60000000000001%
Accuracy dengan k=51: 79.9%
Accuracy dengan k=53: 80.05%
Accuracy dengan k=55: 80.0%
Accuracy dengan k=57: 80.05%
Accuracy dengan k=59: 79.95%
Accuracy dengan k=61: 80.2%
Accuracy dengan k=63: 80.15%
Accuracy dengan k=65: 80.05%
Accuracy dengan k=67: 80.05%
Accuracy dengan k=69: 80.4%

**K dengan nilai accuracy terbaik adalah K=69**

In [52]:
knn_fix = KNeighborsClassifier(n_neighbors=69)

In [53]:
knn_fix.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=69)

In [62]:
# 'CreditScore', 'Age', 'Balance', 'EstimatedSalary'

exited = knn_fix.predict(np.array([[399, 22, 83024432343, 83420439284932]]))
if exited[0] == 0:
    print("Kamu nasabah setia")
else:
    print("Yah kayaknya kamu bakal berhenti jadi nasabah")

Kamu nasabah setia

## KNN Regressor

In [64]:
regressor = KNeighborsRegressor()

In [70]:
for k in range(1,100):
    regressor = KNeighborsRegressor(n_neighbors=k)
    regressor.fit(X_train, y_train)
    y_pred = regressor.predict(X_test)
    r_square = r2_score(y_test, y_pred)
    print(f"r_square k={k}: {r_square}")

r_square k=1: -0.6064588488616987
r_square k=2: -0.2652705704107967
r_square k=3: -0.1155145441840868
r_square k=4: -0.03222350116652506
r_square k=5: 0.006176760583100238
r_square k=6: 0.0340777247695484
r_square k=7: 0.05784091028376981
r_square k=8: 0.07554925417568759
r_square k=9: 0.0987163595026006
r_square k=10: 0.10515820672030352
r_square k=11: 0.11176431045272184
r_square k=12: 0.12105330643128842
r_square k=13: 0.1272221834098105
r_square k=14: 0.12876451945089007
r_square k=15: 0.1336716231080507
r_square k=16: 0.13709256371672673
r_square k=17: 0.14123986097197905
r_square k=18: 0.14027431635841803
r_square k=19: 0.14570960623647833
r_square k=20: 0.14565865549711043
r_square k=21: 0.1473726928484268
r_square k=22: 0.1491699903742798
r_square k=23: 0.15062538572905715
r_square k=24: 0.153948048660146
r_square k=25: 0.15646349138039028
r_square k=26: 0.15642814771597113
r_square k=27: 0.15747085172597897
r_square k=28: 0.15998158512702432
r_square k=29: 0.16135869809808823
r_square k=30: 0.16182804864049516
r_square k=31: 0.1624157992244114
r_square k=32: 0.16462873299032732
r_square k=33: 0.16383100309508147
r_square k=34: 0.16457867219008515
r_square k=35: 0.16463417990396056
r_square k=36: 0.16544744828049485
r_square k=37: 0.16493336261830116
r_square k=38: 0.1641506711181988
r_square k=39: 0.1645452759795556
r_square k=40: 0.1649472152993835
r_square k=41: 0.16711803982025075
r_square k=42: 0.16688320224045616
r_square k=43: 0.16662232134767896
r_square k=44: 0.16637465429131026
r_square k=45: 0.16553514939785263
r_square k=46: 0.16462802559721568
r_square k=47: 0.16431527772468735
r_square k=48: 0.16375813280027063
r_square k=49: 0.16320183507199548
r_square k=50: 0.163491822534933
r_square k=51: 0.1643710007693866
r_square k=52: 0.16423871558151448
r_square k=53: 0.16509849650103847
r_square k=54: 0.1636046735347234
r_square k=55: 0.16346916718988125
r_square k=56: 0.16321401584062867
r_square k=57: 0.16350970428480727
r_square k=58: 0.1639663525582722
r_square k=59: 0.16331483766345478
r_square k=60: 0.16319624065703342
r_square k=61: 0.16418622290689766
r_square k=62: 0.16422547897472572
r_square k=63: 0.16402691891961774
r_square k=64: 0.16430057876733017
r_square k=65: 0.16408745327906882
r_square k=66: 0.16430129774296098
r_square k=67: 0.1647823122908323
r_square k=68: 0.1661022097955498
r_square k=69: 0.166611067357737
r_square k=70: 0.1662788376432559
r_square k=71: 0.1659204400250095
r_square k=72: 0.16585854726810922
r_square k=73: 0.1657640316761313
r_square k=74: 0.16567080862889638
r_square k=75: 0.1652712745670708
r_square k=76: 0.16526572886577928
r_square k=77: 0.16571356267220483
r_square k=78: 0.16613779123575734
r_square k=79: 0.1663947690469909
r_square k=80: 0.16623910666149844
r_square k=81: 0.16739063386448905
r_square k=82: 0.16669851531311475
r_square k=83: 0.16738561772947524
r_square k=84: 0.16749770976263134
r_square k=85: 0.16774773240360086
r_square k=86: 0.16765415158562158
r_square k=87: 0.16826960551302672
r_square k=88: 0.16889711685277398
r_square k=89: 0.168582761813323
r_square k=90: 0.16942711392125864
r_square k=91: 0.16830214190622017
r_square k=92: 0.16835539961504542
r_square k=93: 0.1688747541449308
r_square k=94: 0.16853623448926747
r_square k=95: 0.16883503637064223
r_square k=96: 0.16900860036822463
r_square k=97: 0.16929940103934593
r_square k=98: 0.16871068839347447
r_square k=99: 0.16842402618855257