In [37]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, accuracy_score, auc
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [5]:
df = pd.read_csv("https://raw.githubusercontent.com/rasyidev/well-known-datasets/main/bank_churn.csv")
df.head(2)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0

In [27]:
df.Geography.value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [25]:
G = df[['Geography']]
ohe = OneHotEncoder()
geography = ohe.fit_transform(G).toarray()

In [29]:
pd.DataFrame(geography, columns=['france', 'germany', 'spain'])

      france  germany  spain
0        1.0      0.0    0.0
1        0.0      0.0    1.0
2        1.0      0.0    0.0
3        1.0      0.0    0.0
4        0.0      0.0    1.0
...      ...      ...    ...
9995     1.0      0.0    0.0
9996     1.0      0.0    0.0
9997     1.0      0.0    0.0
9998     0.0      1.0    0.0
9999     1.0      0.0    0.0

[10000 rows x 3 columns]

In [23]:
len(df)

10000

In [3]:
df[['CreditScore', 'Age', 'Balance', 'EstimatedSalary']] # ini yang akan disimpan ke X

      CreditScore  Age    Balance  EstimatedSalary
0             619   42       0.00        101348.88
1             608   41   83807.86        112542.58
2             502   42  159660.80        113931.57
3             699   39       0.00         93826.63
4             850   43  125510.82         79084.10
...           ...  ...        ...              ...
9995          771   39       0.00         96270.64
9996          516   35   57369.61        101699.77
9997          709   36       0.00         42085.58
9998          772   42   75075.31         92888.52
9999          792   28  130142.79         38190.78

[10000 rows x 4 columns]

In [6]:
df['Exited']

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [7]:
X = df[['CreditScore', 'Age', 'Balance', 'EstimatedSalary']]
y = df.Exited

## Scaling

In [10]:
ss = StandardScaler()
ss.fit_transform(X)

array([[-0.32622142,  0.29351742, -1.22584767,  0.02188649],
       [-0.44003595,  0.19816383,  0.11735002,  0.21653375],
       [-1.53679418,  0.29351742,  1.33305335,  0.2406869 ],
       ...,
       [ 0.60498839, -0.27860412, -1.22584767, -1.00864308],
       [ 1.25683526,  0.29351742, -0.02260751, -0.12523071],
       [ 1.46377078, -1.04143285,  0.85996499, -1.07636976]])

In [11]:
X = ss.fit_transform(X)

In [12]:
X

array([[-0.32622142,  0.29351742, -1.22584767,  0.02188649],
       [-0.44003595,  0.19816383,  0.11735002,  0.21653375],
       [-1.53679418,  0.29351742,  1.33305335,  0.2406869 ],
       ...,
       [ 0.60498839, -0.27860412, -1.22584767, -1.00864308],
       [ 1.25683526,  0.29351742, -0.02260751, -0.12523071],
       [ 1.46377078, -1.04143285,  0.85996499, -1.07636976]])

## Cross Validation

In [30]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

## Train

In [31]:
knn = KNeighborsClassifier(n_neighbors=3)

In [32]:
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=3)

In [33]:
y_pred = knn.predict(X_test)

In [34]:
accuracy_score(y_test, y_pred)

0.759

In [36]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.82      0.89      0.85      1567
           1       0.42      0.28      0.34       433

    accuracy                           0.76      2000
   macro avg       0.62      0.59      0.60      2000
weighted avg       0.73      0.76      0.74      2000

In [45]:
k_max = int(np.floor(np.sqrt((len(df)/2))))
k_max

70

In [46]:
semua_k = range(1,k_max, 2)

In [49]:
for k in semua_k:
    knn = KNeighborsClassifier(n_neighbors=k)
    # Training dengan k tertentu sesuai iterasi
    knn.fit(X_train, y_train)
    y_pred = knn.predict(X_test)
    print(f"Accuracy dengan k={k}: {accuracy_score(y_test, y_pred) * 100}%")

Accuracy dengan k=1: 72.75%
Accuracy dengan k=3: 75.9%
Accuracy dengan k=5: 76.75%
Accuracy dengan k=7: 77.8%
Accuracy dengan k=9: 78.8%
Accuracy dengan k=11: 79.14999999999999%
Accuracy dengan k=13: 80.05%
Accuracy dengan k=15: 79.65%
Accuracy dengan k=17: 79.95%
Accuracy dengan k=19: 80.2%
Accuracy dengan k=21: 80.05%
Accuracy dengan k=23: 80.15%
Accuracy dengan k=25: 79.85%
Accuracy dengan k=27: 79.60000000000001%
Accuracy dengan k=29: 79.65%
Accuracy dengan k=31: 79.80000000000001%
Accuracy dengan k=33: 79.85%
Accuracy dengan k=35: 79.75%
Accuracy dengan k=37: 79.75%
Accuracy dengan k=39: 79.65%
Accuracy dengan k=41: 79.60000000000001%
Accuracy dengan k=43: 79.80000000000001%
Accuracy dengan k=45: 79.95%
Accuracy dengan k=47: 79.85%
Accuracy dengan k=49: 79.60000000000001%
Accuracy dengan k=51: 79.9%
Accuracy dengan k=53: 80.05%
Accuracy dengan k=55: 80.0%
Accuracy dengan k=57: 80.05%
Accuracy dengan k=59: 79.95%
Accuracy dengan k=61: 80.2%
Accuracy dengan k=63: 80.15%
Accuracy dengan k=65: 80.05%
Accuracy dengan k=67: 80.05%
Accuracy dengan k=69: 80.4%

**K dengan nilai accuracy terbaik adalah K=69**

In [52]:
knn_fix = KNeighborsClassifier(n_neighbors=69)

In [53]:
knn_fix.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=69)

In [62]:
# 'CreditScore', 'Age', 'Balance', 'EstimatedSalary'

exited = knn_fix.predict(np.array([[399, 22, 83024432343, 83420439284932]]))
if exited[0] == 0:
    print("Kamu nasabah setia")
else:
    print("Yah kayaknya kamu bakal berhenti jadi nasabah")

Kamu nasabah setia